.breadcrumb {
  background-color: #f8f3f4;
  padding: 65px 230px 65px 228px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb .text {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}
.breadcrumb a {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.breadcrumb .pink {
  color: #f16d7f;
}

.img_slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 42px;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}
.img_slide .fa {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}
.img_slide .left_arrow,
.img_slide .right_arrow {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_slide .right_arrow .fa {
  rotate: 180deg;
}

.description_prod {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.description_prod__block {
  width: 1141px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-top: -84px;
  padding-top: 73px;
  padding-bottom: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description_prod__block .collection {
  position: relative;
  width: 147px;
  display: block;
  border-bottom: 1px solid #eaeaea;
}
.description_prod__block .collection__text {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  margin-bottom: 15px;
}
.description_prod__block .collection .pink_div {
  position: absolute;
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
  left: 42px;
  top: 38px;
}
.description_prod__block .name_product {
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 17px;
  margin-bottom: 67px;
}
.description_prod__block .name_info {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  width: 639px;
  height: 60px;
  text-align: center;
  margin-bottom: 28px;
}
.description_prod__block .material_designer {
  display: flex;
  flex-direction: row;
  gap: 44px;
}
.description_prod__block .material_designer .material,
.description_prod__block .material_designer .designer {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}
.description_prod__block .material_designer span {
  color: #2f2f2f;
}
.description_prod__block .price {
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  margin-top: 37px;
  margin-bottom: 43px;
}
.description_prod__block .filter {
  position: relative;
  border-top: 1px solid #eaeaea;
  padding-top: 63px;
  display: flex;
  flex-direction: row;
  gap: 53px;
  padding-left: 52px;
  padding-right: 52px;
}
.description_prod__block .filter .color_div {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
  margin-left: 14px;
  margin-top: 11px;
}
.description_prod__block .filter .choose_color select {
  text-indent: 37px;
}
.description_prod__block .filter select {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  margin-bottom: 28px;
  text-indent: 15px;
}
.description_prod__block .filter p {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 16px;
}
.description_prod__block .filter .select {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  margin-bottom: 28px;
  text-indent: 17px;
}
.description_prod__block .add_to_cart {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 537px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  justify-content: center;
  align-items: center;
}
.description_prod__block .add_to_cart img {
  width: 26px;
  height: 24px;
}
.description_prod__block .add_to_cart p {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ef5b70;
}

.may_like {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.may_like__hedding {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 119px;
  margin-bottom: 72px;
  text-align: center;
}
.may_like__cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  text-decoration: none;
  justify-content: center;
  margin-bottom: 71px;
}
.may_like__cards .card {
  width: 263px;
  height: 364px;
  background-color: #ffffff;
}
.may_like__cards .card__img {
  position: relative;
  width: 261px;
  height: 280px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.may_like__cards .card__img #img2 {
  position: absolute;
  top: -12px;
}
.may_like__cards .card__text {
  padding-top: 18px;
  padding-left: 15px;
}
.may_like__cards .card__text__name {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-bottom: 17px;
}
.may_like__cards .card__text__price {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin-bottom: 21px;
}

.feature__prod {
  display: flex;
  justify-content: center;
}
.feature__prod__right {
  background-color: #222224;
  padding-left: 256px;
  padding-right: 256px;
  padding-top: 89px;
  padding-bottom: 114px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 81px;
}
.feature__prod__right__card {
  display: flex;
  width: 309px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature__prod__right__card__logo1 {
  margin-left: 36px;
  margin-right: 33px;
  margin-bottom: 32px;
}
.feature__prod__right__card__logo2 {
  margin-left: 36px;
  margin-right: 37px;
  margin-bottom: 23px;
}
.feature__prod__right__card__logo3 {
  margin-left: 32px;
  margin-right: 34px;
  margin-bottom: 29px;
}
.feature__prod__right__card__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.feature__prod__right__card__text__p1 {
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-bottom: 17px;
}
.feature__prod__right__card__text__p2 {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #fbfbfb;
}

.product_panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 71px;
  padding-left: 230px;
  padding-right: 230px;
}
.product_panel .sidebar {
  display: block;
  width: 243px;
  margin-right: 51px;
}
.product_panel .sidebar__section summary {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  display: flex;
  justify-content: space-between;
  padding: 12px 6px 14px 11px;
  border-left: 3px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 18px;
  width: 243px;
}
.product_panel .sidebar__section a {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
  margin-left: 22px;
}
.product_panel .sidebar__section a:hover {
  color: #f16d7f;
}
.product_panel .sidebar__section summary::marker {
  content: "";
}
.product_panel .sidebar__section[open] {
  display: block;
}
.product_panel .sidebar__section[open] summary {
  color: #f16d7f;
}
.product_panel .sidebar__section[open] i {
  rotate: 180deg;
  color: #6f6e6e;
}
.product_panel .product_menu__filter__nav {
  display: flex;
  flex-direction: row;
}
.product_panel .product_menu__filter__nav__trend {
  margin-right: 115px;
}
.product_panel .product_menu__filter__nav__trend__p1 {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.product_panel .product_menu__filter__nav__trend .trend_link {
  width: 176px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}
.product_panel .product_menu__filter__nav__trend .trend_link a, .product_panel .product_menu__filter__nav__trend .trend_link p {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}
.product_panel .product_menu__filter__nav__trend .trend_link a:hover {
  color: #f16d7f;
}
.product_panel .product_menu__filter__nav__trend .trend_link p {
  margin-left: 2px;
  margin-right: 2px;
}
.product_panel .product_menu__filter__nav__size {
  margin-right: 58px;
}
.product_panel .product_menu__filter__nav__size .size_box {
  margin-top: 29px;
  width: 237px;
  height: 52px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 26px);
  justify-content: space-around;
  align-items: baseline;
}
.product_panel .product_menu__filter__nav__size .size_box__select {
  display: flex;
}
.product_panel .product_menu__filter__nav__size .size_box__select .checkcbox {
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  display: flex;
  justify-content: left;
  align-content: baseline;
}
.product_panel .product_menu__filter__nav__size .size_box__select label {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-left: 5px;
}
.product_panel .product_menu__filter__nav__price input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
  width: 262px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.product_panel .product_menu__filter__nav__price input[type=range]::-webkit-slider-runnable-track {
  background: #f0f0f0;
  height: 6px;
  border-radius: 3px;
}
.product_panel .product_menu__filter__nav__price input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: #f16d7f;
  height: 14px;
  width: 14px;
  border-radius: 7px;
}
.product_panel .product_menu__filter__nav__price .price_min_max {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  display: flex;
  justify-content: space-between;
}
.product_panel .product_menu__filter__sort {
  margin-top: 41px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0px 10px 9px;
}
.product_panel .product_menu__filter__sort .sort_by,
.product_panel .product_menu__filter__sort .show,
.product_panel .product_menu__filter__sort select {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}
.product_panel .product_menu__filter__sort .sort_by {
  display: flex;
  flex-direction: row;
}
.product_panel .product_menu__filter__sort .sort_by p {
  width: 66px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  text-align: center;
}
.product_panel .product_menu__filter__sort .sort_by select {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  text-align: center;
}
.product_panel .product_menu__filter__sort .show {
  display: flex;
  flex-direction: row;
  width: 119px;
}
.product_panel .product_menu__filter__sort .show p {
  width: 55px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  text-align: center;
}
.product_panel .product_menu__filter__sort .show select {
  width: 63px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  text-align: center;
}
.product_panel .product_menu__cards {
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
  padding-top: 47px;
}
.product_panel .product_menu__cards a {
  text-decoration: none;
}
.product_panel .product_menu__cards__product {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product_panel .product_menu__cards__product .page_product {
  width: 263px;
  position: relative;
  display: block;
  margin-bottom: 38px;
}
.product_panel .product_menu__cards__product .page_product__text {
  padding-left: 15px;
}
.product_panel .product_menu__cards__product .page_product__text__desc {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
  padding-top: 19px;
}
.product_panel .product_menu__cards__product .page_product__text__price {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  padding-top: 17px;
  padding-bottom: 21px;
}
.product_panel .product_menu__cards__product .page_product:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
}
.product_panel .product_menu__cards__product .page_product:hover .page_product_link__img {
  filter: brightness(30%);
}
.product_panel .product_menu__cards__product .page_product_link {
  display: block;
  position: relative;
}
.product_panel .product_menu__cards__product img {
  width: 263px;
  height: 280px;
}
.product_panel .product_menu__cards__product .add_cart_div {
  display: none;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  top: 112px;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.product_panel .product_menu__cards__product .add_cart_div span {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}
.product_panel .product_menu__cards__product .add_cart_div .add_icon {
  width: 23px;
  height: 22px;
}
.product_panel .product_menu__cards__product .add_cart_div .refresh_icon {
  width: 22px;
  height: 12px;
}
.product_panel .product_menu__cards__product .add_cart_div .like_icon {
  width: 16px;
  height: 15px;
}
.product_panel .product_menu__cards__product .add_cart_div .add_to_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 10px 13px 7px 12px;
  pointer-events: all;
}
.product_panel .product_menu__cards__product .add_cart_div .add_to_cart:hover {
  box-shadow: 0 0 10px 0 #fff;
}
.product_panel .product_menu__cards__product .add_cart_div .add_down {
  display: flex;
  gap: 9px;
  margin-top: 8px;
}
.product_panel .product_menu__cards__product .add_cart_div .add_down .refresh {
  pointer-events: all;
  display: flex;
  width: 57px;
  padding-top: 13px;
  padding-bottom: 13px;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.product_panel .product_menu__cards__product .add_cart_div .add_down .refresh:hover {
  box-shadow: 0 0 10px 0 #fff;
}
.product_panel .product_menu__cards__product .add_cart_div .add_down .like {
  pointer-events: all;
  display: flex;
  width: 57px;
  padding-top: 13px;
  padding-bottom: 13px;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.product_panel .product_menu__cards__product .add_cart_div .add_down .like:hover {
  box-shadow: 0 0 10px 0 #fff;
}
.product_panel .product_menu__cards__product .page_product:hover .add_cart_div {
  display: flex;
}
.product_panel .product_menu__cards .down_nav_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product_panel .product_menu__cards .down_nav_panel .nav_numbers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 261px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.product_panel .product_menu__cards .down_nav_panel .nav_numbers a {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #c4c4c4;
}
.product_panel .product_menu__cards .down_nav_panel .nav_numbers a:nth-child(1) {
  rotate: 180deg;
}
.product_panel .product_menu__cards .down_nav_panel .nav_numbers a:nth-child(1),
.product_panel .product_menu__cards .down_nav_panel .nav_numbers a:nth-child(8) {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
.product_panel .product_menu__cards .down_nav_panel .nav_numbers a:nth-child(2) {
  color: #ef5b70;
}
.product_panel .product_menu__cards .down_nav_panel .nav_numbers a:hover {
  color: #ef5b70;
}
.product_panel .product_menu__cards .down_nav_panel .view_all {
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  padding: 16px 45px 15px 47px;
}
.product_panel .product_menu__cards .down_nav_panel .view_all a {
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #ef5b70;
}

.ship_adress {
  padding: 89px 230px 93px 230px;
}
.ship_adress details > summary::marker {
  content: "";
}
.ship_adress details > summary {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding-top: 33px;
  padding-bottom: 39px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.ship_adress details[open] > summary {
  border: 0;
}
.ship_adress .first .ship_adress__panel {
  display: flex;
  flex-direction: row;
}
.ship_adress .first .ship_adress__panel .choice_panel {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  margin-right: 291px;
}
.ship_adress .first .ship_adress__panel h2 {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 15px;
}
.ship_adress .first .ship_adress__panel h3 {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  margin-bottom: 33px;
}
.ship_adress .first .ship_adress__panel .input_but {
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
  gap: 20px;
}
.ship_adress .first .ship_adress__panel .input_but label {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}
.ship_adress .first .ship_adress__panel .input_but input {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: 2px solid #555555;
}
.ship_adress .first .ship_adress__panel .input_but .input_one {
  display: flex;
  align-items: center;
  gap: 14px;
}
.ship_adress .first .ship_adress__panel .input_but .input_two {
  display: flex;
  align-items: center;
  gap: 14px;
}
.ship_adress .first .ship_adress__panel .advantages {
  margin-bottom: 38px;
}
.ship_adress .first .ship_adress__panel .advantages .h4 span {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
}
.ship_adress .first .ship_adress__panel .advantages .fa {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  margin-right: 4px;
}
.ship_adress .first .ship_adress__panel .cont_but {
  display: flex;
  justify-content: center;
  padding: 19px 53px 19px 53px;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-bottom: 79px;
}
.ship_adress .first .ship_adress__panel .cont_but:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.ship_adress .first .ship_adress__panel .form_panel {
  display: flex;
  flex-direction: column;
}
.ship_adress .first .ship_adress__panel .form_panel p {
  font-family: Lato;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: #222222;
}
.ship_adress .first .ship_adress__panel .form_panel h3 {
  margin-bottom: 27px;
}
.ship_adress .first .ship_adress__panel .form_panel span {
  font-family: Lato;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  color: #ff0d0d;
  margin-left: 2px;
}
.ship_adress .first .ship_adress__panel .form_panel input {
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-bottom: 23px;
  text-indent: 25px;
}
.ship_adress .first .ship_adress__panel .form_panel p.email {
  margin-bottom: 16px;
}
.ship_adress .first .ship_adress__panel .form_panel p.pass {
  margin-bottom: 16px;
}
.ship_adress .first .ship_adress__panel .form_panel .footnote {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: #ff0d0d;
  margin-bottom: 32px;
}
.ship_adress .first .ship_adress__panel .form_panel .footnote span {
  margin-right: 2px;
  margin-left: 0;
}
.ship_adress .first .ship_adress__panel .form_panel .login_but {
  display: block;
}
.ship_adress .first .ship_adress__panel .form_panel .login_but .login {
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 19px 81px 19px 55px;
  margin-right: 32px;
}
.ship_adress .first .ship_adress__panel .form_panel .login_but .forg_pass {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}
.ship_adress .first .ship_adress__panel .form_panel .login_but .login:hover, .ship_adress .first .ship_adress__panel .form_panel .login_but .forg_pass:hover {
  border-color: #f16d7f;
  color: #f16d7f;
}

.shopping-cart {
  padding-top: 90px;
  padding-left: 230px;
  padding-right: 233px;
}
.shopping-cart .title-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
  padding-bottom: 20px;
}
.shopping-cart .title-field p:nth-child(1) {
  margin-right: 300px;
}
.shopping-cart .cart-items_item {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.shopping-cart .cart-items_item .item-info {
  display: flex;
  flex-direction: row;
  padding-top: 22px;
  padding-bottom: 25px;
  margin-right: 219px;
}
.shopping-cart .cart-items_item .item-info_img {
  width: 100px;
  height: 115px;
  background-color: rgba(101, 169, 200, 0.09);
}
.shopping-cart .cart-items_item .item-info_name {
  font-family: Lato;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
  padding-left: 21px;
  padding-top: 13px;
  padding-bottom: 38px;
}
.shopping-cart .cart-items_item .item-info_info {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  color: #6f6e6e;
  padding-left: 21px;
}
.shopping-cart .cart-items_item .item-choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.shopping-cart .cart-items_item .item-choice_price, .shopping-cart .cart-items_item .item-choice_quantity, .shopping-cart .cart-items_item .item-choice_ship, .shopping-cart .cart-items_item .item-choice_subtotal, .shopping-cart .cart-items_item .item-choice_action {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  text-transform: uppercase;
}
.shopping-cart .cart-items_item .item-choice_price {
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 85px;
}
.shopping-cart .cart-items_item .item-choice_quantity {
  width: 54px;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: flex;
  text-align: center;
  margin-right: 85px;
}
.shopping-cart .cart-items_item .item-choice_ship {
  width: 58px;
  display: flex;
  justify-content: center;
  margin-right: 85px;
}
.shopping-cart .cart-items_item .item-choice_subtotal {
  width: 62px;
  display: flex;
  justify-content: center;
  margin-right: 85px;
}
.shopping-cart .cart-items_item .item-choice_action {
  width: 48px;
  display: flex;
  justify-content: center;
}
.shopping-cart .cart-items_item .item-choice_action:hover {
  color: #f16d7f;
}
.shopping-cart .nav-link {
  padding-top: 44px;
  padding-bottom: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shopping-cart .nav-link a {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 20px 39px 18px 39px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.shopping-cart .nav-link a:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}
.shopping-cart .ship-info {
  padding-bottom: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 36px;
}
.shopping-cart .ship-info .address {
  display: flex;
  flex-direction: column;
  width: 355px;
}
.shopping-cart .ship-info .address .title {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 22px;
}
.shopping-cart .ship-info .address .select_city {
  margin-bottom: 20px;
}
.shopping-cart .ship-info .address .select_city select {
  width: 355px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding: 16px 0px 16px 14px;
}
.shopping-cart .ship-info .address .state {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding: 16px 0px 18px 17px;
  margin-bottom: 20px;
}
.shopping-cart .ship-info .address .postcode {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding: 16px 0px 16px 18px;
  margin-bottom: 23px;
}
.shopping-cart .ship-info .address .quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
.shopping-cart .ship-info .address .quote:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.shopping-cart .ship-info .coupon {
  display: flex;
  flex-direction: column;
  width: 355px;
}
.shopping-cart .ship-info .coupon .title {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 28px;
}
.shopping-cart .ship-info .coupon .text {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  margin-bottom: 24px;
}
.shopping-cart .ship-info .coupon .state {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 16px 0px 17px 18px;
  margin-bottom: 25px;
}
.shopping-cart .ship-info .coupon .apply {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  width: 118px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.shopping-cart .ship-info .coupon .apply:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}
.shopping-cart .ship-info .to-checkout {
  width: 355px;
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
}
.shopping-cart .ship-info .to-checkout .total-price {
  border-bottom: 1px solid #e2e2e2;
  margin-top: 40px;
  margin-right: 41px;
  padding-bottom: 22px;
  margin-bottom: 17px;
  margin-left: 43px;
}
.shopping-cart .ship-info .to-checkout .total-price .sub {
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #4a4a4a;
  text-align: right;
  margin-bottom: 14px;
}
.shopping-cart .ship-info .to-checkout .total-price .sub span {
  margin-left: 10px;
}
.shopping-cart .ship-info .to-checkout .total-price .total {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: right;
}
.shopping-cart .ship-info .to-checkout .total-price .total span {
  color: #f16d7f;
  margin-left: 10px;
}
.shopping-cart .ship-info .to-checkout_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 273px;
  background-color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 19px 0px 18px 0px;
  margin-left: 43px;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Lato;
  src: url(./font/Lato-Regular.ttf);
}
html {
  width: 1600px;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__panel {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100px;
  border-bottom: 1px solid #e6e6e6;
}
.header__panel .panel_logo {
  width: 59px;
  height: 51px;
  margin-top: 25px;
  margin-bottom: 24px;
  margin-left: 14.2%;
}
.header__panel .brand_name {
  font-family: Lato;
  font-size: 27px;
  width: 93px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin-right: 37px;
  margin-left: 13px;
  margin-top: 37px;
}
.header__panel .brand_name__D {
  color: #f16d7f;
  font-weight: 900;
}
.header__panel .search_panel {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 404px;
  height: 38px;
  gap: 0;
  margin-top: 32px;
  margin-bottom: 30px;
  margin-right: 349px;
}
.header__panel .search_panel .button_browse {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  width: 87px;
  height: 36px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
}
.header__panel .search_panel .button_browse summary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header__panel .search_panel .button_browse summary .fa {
  rotate: 0deg;
}
.header__panel .search_panel .button_browse summary::marker {
  content: "";
}
.header__panel .search_panel .button_browse__hidden_menu {
  position: absolute;
  width: 262px;
  height: 530px;
  background-color: #ffffff;
  border-radius: 5px;
  top: 35px;
  left: 0px;
  display: flex;
  flex-direction: column;
}
.header__panel .search_panel .button_browse__hidden_menu__sharp {
  width: 236px;
  height: 1px;
  background-color: #e8e8e8;
}
.header__panel .search_panel .button_browse__hidden_menu__sharp {
  align-self: center;
}
.header__panel .search_panel .button_browse__hidden_menu__ul {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-top: 19px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.header__panel .search_panel .button_browse__hidden_menu__ul__low {
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  color: #4f4f4f;
  text-transform: none;
  margin-left: 7px;
}
.header__panel .search_panel .button_browse__hidden_menu__ul__low:hover {
  color: #f16d7f;
}
.header__panel .search_panel .button_browse[open] > summary .fa {
  rotate: 180deg;
}
.header__panel .search_panel .input_field {
  width: 280px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 0px 0px 0px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding-left: 16px;
}
.header__panel .search_panel .button_search {
  width: 36px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}
.header__panel .cart_icons {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 29px;
  margin-top: 40px;
  margin-bottom: 31px;
  margin-right: 26px;
  z-index: 0;
}
.header__panel .cart_icons summary::marker {
  content: "";
}
.header__panel .cart_icons ul {
  width: 262px;
  height: 440px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.header__panel .cart_icons ul .cart_card {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
  margin-bottom: 16px;
  margin-left: 17px;
  margin-right: 15px;
}
.header__panel .cart_icons ul .cart_card__info {
  margin-left: 14px;
}
.header__panel .cart_icons ul .cart_card__info__name {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 10px;
}
.header__panel .cart_icons ul .cart_card__info .cart_card__rank {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  width: 56px;
}
.header__panel .cart_icons ul .cart_card__info i.fa {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #e4af48;
}
.header__panel .cart_icons ul .cart_card__info__price {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}
.header__panel .cart_icons ul .cart_card__info__price span {
  font-size: 10px;
}
.header__panel .cart_icons ul .cart_card .cart_delete {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 55px;
}
.header__panel .cart_icons ul .cart_card .cart_delete .fa {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #c0c0c0;
}
.header__panel .cart_icons ul .cart_total_price {
  display: flex;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-left: 18px;
  margin-right: 16px;
  margin-top: 19px;
  margin-bottom: 32px;
  justify-content: space-between;
}
.header__panel .cart_icons ul .cart_checkout_link {
  width: 225px;
  height: 50px;
  border: 1px solid #f16d7f;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin-left: 18px;
  margin-right: 16px;
  margin-bottom: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__panel .cart_icons ul .go_cart_link {
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-left: 18px;
  margin-right: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__panel .cart_icons .cart_sharp {
  width: 229px;
  height: 1px;
  background-color: rgba(237, 237, 237, 0.74);
}
.header__panel .cart_icons .cart_icon {
  width: 32px;
  height: 29px;
  z-index: 0;
}
.header__panel .cart_icons .ellipse_cart_icon {
  z-index: 1;
  position: absolute;
  display: flex;
  top: -8px;
  right: -9px;
  width: 19px;
  height: 19px;
  background-image: url(./img/ellipse_2_1121.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  font-family: Lato;
  font-size: 12px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
.header__panel .account_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border: 0;
  margin-top: 31px;
  margin-bottom: 31px;
}
.header__panel .account_button__text {
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-right: 8px;
}
.header__nav {
  width: 640px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-left: 28.75%;
  list-style: none;
}
.header__nav__text {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #222222;
  position: relative;
}
.header__nav .mega-box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  display: none;
  position: absolute;
  top: 30px;
  left: -30px;
  right: auto;
  width: 846px;
  height: 310px;
}
.header__nav .menu-item {
  margin-right: 46px;
}
.header__nav .menu-item .mega_link__img {
  background-image: url(./img/big_menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 255px;
  height: 118px;
  background-color: #efefef;
}
.header__nav .menu-item .menu-headding {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
}
.header__nav .menu-item .mega-link {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  text-decoration: none;
}
.header__nav .menu-item .mega-link__text {
  font-family: Lato;
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  background-image: url(./img/big_menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 255px;
  height: 118px;
  background-color: #efefef;
}
.header__nav .menu-item .mega-link__text span {
  position: absolute;
  margin-left: 174px;
  margin-top: 61px;
}
.header__nav .menu-item .mega-link:hover {
  color: #f16d7f;
}
.header__nav .menu-item:last-of-type {
  margin-right: 0;
}
.header__nav .mega-box::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  left: 33px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.header__nav__text:hover .mega-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.header__nav .last:hover .mega-box {
  right: 0;
  left: auto;
}
.header__nav .last:hover .mega-box::before {
  right: 30px;
  left: auto;
}

.slider {
  height: 665px;
  background-image: url(./img/slider_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
}
.slider__img {
  width: 12px;
  height: 92px;
  margin: 276px 12px 297px 230px;
}
.slider__text {
  height: 92px;
  width: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 276px 0px 297px 0px;
  font-family: Lato;
  line-height: 1.1;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
.slider__text .slider__text__big {
  font-family: Lato;
  font-size: 60px;
}
.slider__text .slider__text__low {
  font-size: 40px;
}
.slider__text .slider_text__pink {
  color: #f16d7f;
}

.category {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  position: relative;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.category__card_one {
  grid-column: 1/1;
  grid-row: 1/3;
  width: 560px;
  height: 542px;
  background-image: url(./img/category_img1.png);
  background-repeat: no-repeat;
}
.category__card_two {
  grid-column: 2/2;
  grid-row: 1/1;
  width: 560px;
  height: 261px;
  background-image: url(./img/category_img2.png);
  background-repeat: no-repeat;
}
.category__card_three {
  grid-column: 1/1;
  grid-row: 3/4;
  width: 560px;
  height: 261px;
  background-image: url(./img/category_img3.png);
  background-repeat: no-repeat;
}
.category__card_four {
  grid-column: 2/2;
  grid-row: 2/4;
  width: 560px;
  height: 542px;
  background-image: url(./img/category_img4.png);
  background-repeat: no-repeat;
}
.category__card_text {
  position: absolute;
  background-color: #ffffff;
  margin-top: 26px;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding: 16px 18px 16px 18px;
}
.category__card_text .category_pink_text {
  font-size: 30px;
  color: #f16d7f;
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__text1 {
  font-family: Lato;
  font-size: 30px;
  line-height: 46px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}
.products__text2 {
  font-family: Lato;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
.products__grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 261px);
  grid-template-rows: repeat(2, 364px);
  gap: 39px 32px;
  margin-top: 60px;
  margin-bottom: 80px;
}
.products .cell {
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
}
.products .cell__img__button {
  position: absolute;
  z-index: 1;
  display: none;
  top: 0;
  left: 0;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}
.products .cell__footer {
  padding-left: 15px;
  padding-top: 19px;
}
.products .cell__footer .cell__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}
.products .cell__footer .cell__price {
  margin-top: 17px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
.products__all {
  font-family: Lato;
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  background-color: #f16d7f;
  border: 0;
  width: 212px;
  height: 48px;
  text-align: center;
}
.products__all i {
  margin-left: 9px;
}

.feature {
  margin-top: 113px;
  margin-bottom: 97px;
  display: flex;
  justify-content: center;
}
.feature__left {
  position: relative;
  background-image: url(./img/feature_img1.png);
  background-repeat: no-repeat;
  width: 767px;
  height: 529px;
}
.feature__left__img {
  position: absolute;
}
.feature__left__text {
  padding-top: 130px;
  padding-left: 39px;
  width: 293px;
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: Lato;
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.feature__left__text__pink {
  color: #f16d7f;
}
.feature__left__text__low {
  padding-left: 39px;
  position: relative;
  font-family: Lato;
  font-size: 32.2px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.feature__right {
  width: 373px;
  height: 529px;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.feature__right__card {
  display: flex;
  flex-direction: row;
}
.feature__right__card__logo1 {
  margin-left: 36px;
  margin-right: 33px;
}
.feature__right__card__logo2 {
  margin-left: 36px;
  margin-right: 37px;
}
.feature__right__card__logo3 {
  margin-left: 32px;
  margin-right: 34px;
}
.feature__right__card__text {
  display: flex;
  flex-direction: column;
}
.feature__right__card__text__p1 {
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-bottom: 17px;
}
.feature__right__card__text__p2 {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-right: 32px;
}

.subscribe {
  position: relative;
  background-image: url(./img/subscribe_back.png);
  background-repeat: no-repeat;
  height: 438px;
  z-index: 0;
  display: flex;
  flex-direction: row;
}
.subscribe__right {
  display: flex;
  flex-direction: row;
  width: 800px;
}
.subscribe__back {
  position: absolute;
  z-index: -1;
}
.subscribe__img1 {
  margin-top: 111px;
  margin-left: 230px;
  margin-right: 28px;
  width: 88px;
  height: 88px;
}
.subscribe__text1 {
  margin-top: 123px;
  margin-bottom: 19px;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin-right: 72px;
}
.subscribe__text2 {
  margin-bottom: 41px;
  font-family: Lato;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
  width: 82px;
  height: 27px;
}
.subscribe__text2__pink {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #f16d7f;
}
.subscribe__slide {
  display: flex;
  flex-direction: row;
}
.subscribe__slider {
  margin-right: 13px;
}
.subscribe__left__p1 {
  margin-top: 148px;
  font-family: Lato;
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
  text-align: center;
  text-indent: 30px;
}
.subscribe__left__p2 {
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  margin-left: 146px;
}
.subscribe__left__input {
  display: flex;
  flex-direction: row;
  margin-left: 92px;
  margin-top: 35px;
}
.subscribe__left__input__text {
  opacity: 0.67;
  font-family: Lato;
  font-size: 14px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0px 0px 23px;
  border: 0;
  text-indent: 28px;
}
.subscribe__left__but {
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  border: 0;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .nav_brand {
  display: flex;
  flex-direction: row;
  height: 438px;
}
.footer .nav_brand .brand_info {
  display: flex;
  flex-direction: column;
  margin-left: 224px;
}
.footer .nav_brand .brand_info__panel_logo {
  width: 59px;
  height: 51px;
  margin-top: 25px;
  margin-bottom: 39px;
  margin-top: 109px;
}
.footer .nav_brand .brand_info__brand_name {
  font-family: Lato;
  font-size: 27px;
  width: 93px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #222222;
  margin-right: 37px;
  margin-left: 13px;
  margin-top: 121px;
}
.footer .nav_brand .brand_info__brand_name__D {
  color: #f16d7f;
  font-weight: 900;
}
.footer .nav_brand .brand_info .brand_logo {
  display: flex;
  flex-direction: row;
}
.footer .nav_brand .brand_info .brand_text {
  width: 427px;
  height: 180px;
  display: flex;
  flex-direction: column;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0;
  color: #898989;
  margin-right: 64px;
  justify-content: space-between;
}
.footer .nav_brand .company {
  display: flex;
  flex-direction: column;
  margin-right: 137px;
}
.footer .nav_brand .info {
  display: flex;
  flex-direction: column;
  margin-right: 92px;
}
.footer .nav_brand .shop_cat {
  display: flex;
  flex-direction: column;
}
.footer .nav_brand .label_name {
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 45px;
  margin-top: 123px;
}
.footer .nav_brand .link_footer {
  font-family: Lato;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  margin-bottom: 25px;
}
.footer .nav_brand .link_footer:hover {
  color: #f16d7f;
}
.footer .copyright {
  display: flex;
  flex-direction: row;
  height: 79px;
  background-color: #e6e6e6;
  align-items: center;
}
.footer .copyright__text {
  font-family: Lato;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
  margin-left: 228px;
  margin-right: 690px;
}
.footer .copyright .link_icon {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.footer .copyright a .fa {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}
.footer .copyright a .fa:hover {
  background-color: #f16d7f;
  color: #ffffff;
}
.footer .copyright i {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color as 0.1s;
}/*# sourceMappingURL=style.css.map */